<nav class="navbar  navbar-dark bg-primary">
  <a class="navbar-brand" href="/account">Account</a>
  <a class="navbar-brand" href="https://www.skippr.app/euro-2020">Player List</a>
  <a class="navbar-brand" href="https://www.skippr.app/scores">Scores</a>
  <a class="navbar-brand" href="/games/list">Betting</a>
  <a class="navbar-brand" href="/player/lineup">Set lineup</a>
  <a class="navbar-brand" href="https://www.skippr.app/table">Table</a>
  <a class="navbar-brand" href="https://www.skippr.app/stats">Stats</a>
  <a class="navbar-brand" href="https://www.skippr.app/watch-live">Watch Live</a>
</nav>