<header>
  <nav>
    <ul class="nav nav-justified offset-md-2">
      <li class="list-group-item"><a style="font-size: 30px" href="https://www.skippr.app/table">Table</a></li>
      <li class="list-group-item"><a style="font-size: 30px" href="/fantasy/list">Fantasy games</a></li>
      <li class="list-group-item"><a style="font-size: 30px" href="/games/list">Games</a></li>
      <li class="list-group-item"><a style="font-size: 30px" href="/account">Account</a></li>
      <li class="list-group-item"><a style="font-size: 30px" href="/player/lineup">Team Lineup</a></li>
    </ul>
  </nav>
</header>