.big-banner {
  background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1600px
}

.big-color {
  background-color: #252A37;
  height: 100%;
  color: #E3E3E3;
}

.double-color {
  background-color: #11242E;
  height: 100%;
  color: #E3E3E3;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #11242E;
 }